# General
.DS_Store

# Xcode
build/*
xcuserdata

# CocoaPods
Pods/
Podfile.lock
Gemfile.lock

# Fastlane
fastlane/report.xml
fastlane/test_output
fastlane/README.md
Preview.html
*.mobileprovision

# Generated fiels
Kogan/Config/Generated/*.generated.swift

# Temp files
*.profraw
tmp/

